.footer {
    background-color: rgb(16, 16, 16);
}

.upr-ftr {
    /* border: 1px solid red; */
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
}

.contenta {
    width: 60%;
    display: flex;
    justify-content: space-around;
    padding-left: 30px;
}

.contentb {
    border: 0.1px solid gray;
    margin: 30px 20px 30px 20px;
    height: 220px;
}

.contentc {
    width: 50%;
}

.option {

    margin: 30px 1px;

}

.footer h5 {
    margin-bottom: 20px;
    text-align: start;
    color: rgb(97, 97, 97);
}

.link a {
    display: block;
    text-align: start;
    color: white;
}

a:hover {
    text-decoration: underline;
    transition: 0.5s;
}
.con-p{
    color: white;
    margin-bottom: 20px;
}
.con-I i{
    color: white;
    font-size: 20px;
    padding: 10px;
}
.bottom-ftr{
    border-top:1px solid gray ;
}
