* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scrollbar-width: none;
}

body {
    background-color: rgb(238, 238, 246);
    
}

.headerContainer {
    /* border: 2px solid red; */
    height: auto;
    display: flex;
    background-color: white;
}

.logo {
    margin: 5px;
    margin-left: 10px;
    display: inline-block;
    cursor: pointer;
}

img {
    height: 30px;
    margin-top: 5px;
}

.searchBar {
    /* border: 2px solid green; */
    margin: 10px;
    margin-left: 20px;
    width: 50%;
    position: relative;
}

.searchBar input {
    width: 100%;
    padding: 10px 10px 10px 35px;
    border-radius: 10px;
    border: none;
    outline: none;
    background-color: rgb(233, 244, 253);

}

.searchBar input::placeholder {
    color: grey;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: medium;

}

.searchBar i {
    position: absolute;
    left: 10px;
    top: 10px;
    color: gray;
}

.login-cart {
    /* border: 2px solid darkcyan; */
    width: 30%;
    display: flex;
    justify-content: space-between;
    cursor: pointer;

}

abbr {
    text-decoration: none;
}

a {
    text-decoration: none;
    color: black;
}

.login {
    /* border: 2px solid green; */
    font-weight: normal;
    margin: 10px 0px 10px;
    border-radius: 10px;
    transition: all 0.5s;
    cursor: pointer;
    position: relative;
}

.login:hover {
    background-color: #006aaf;
}

.login:hover .fa-chevron-down {
    transform: rotate(180deg);
    transition: 0.2s;
}

.login:hover .drop-down {
    display: block;
}

.login i {
    margin: 7px 2px;
}

.login pre {
    display: inline;
}

.login pre i {
    font-size: 10px;
}

.drop-down {
    position: absolute;
    border: 2px solid white;
    background-color: honeydew;
    border-radius: 10px;
    box-shadow: 1px 1px 1px 1px white;
    margin: 2px 2px;
    padding: 10px;
    margin-top: 0.29cm;
    display: none;
}

.ul-list li {
    display: block;
}

.new-customer {
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    gap: 50px;
}

.new-customer pre {
    font-size: 15px;

}

.new-customer a pre {
    font-size: 15px;
}

.new-customer a {
    text-decoration: none;
}

.drop-down ul {
    list-style: none;
}

.list {
    padding-left: 10px;
}

.cart {
    /* border: 2px solid saddlebrown; */
    margin-left: 10pxz;
    padding: 10px;
    font-weight: normal;
}

.cart i {
    margin-top: 10px;
}

.seller {
    /* border: 2px solid saddlebrown; */
    margin-left: 10pxz;
    padding: 20px;
    font-weight: normal;
}

button {
    margin-top: 10px;
    width: 30px;
    height: 30px;
    background-color: white;
    border: none;

}

button i {
    font-size: 15px;
    padding: 10px 10px;


}

button:hover {
    width: 30px;
    height: 35px;
    border: 1px solid rgb(236, 235, 235);
    background-color: rgb(245, 245, 245);
    border-radius: 5px;
    transition: all 0.05s;
}

.dot {
    /* border: 2px solid slategray; */
    position: relative;

}

.links {
    position: absolute;
    margin-top: 2px;
    display: none;
    border: 2px solid gainsboro;
    border-radius: 10px;
    background-color: white;
    left: -450%;
    right: 0%;
    width: 200px;
    overflow: hidden;
}

.imp-link li {
    display: inline-block;
    padding: 10px 10px;
}

.links li {
    list-style: none;
}


.dot:hover .links {
    display: block;
    transition: all 0.05s;
}

