.top-picks {
    height: auto;
    margin: 10px 20px;
    display: flex;
    justify-content: space-between;
}

.big-box {

    width: 31.50vw;
    background-color: white;
}

.container1 {
    display: flex;
    justify-content: space-between;

}

.icon {
    width: 20px;
    height: 20px;
    background-color: blueviolet;
    color: white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 10px;
    margin: 10px;
}

.hd h2 {
    padding: 10px;
}

.container2 {
    display: flex;
    justify-content: space-between;
    overflow: hidden;
    padding: 2px 10px;

}

.sm-box {
    border: 1px solid gainsboro;
    width: 50%;
    margin: 3px 2px;
    background-color: white;
}

.container2 h3 {
    color: green;
    padding-left: 15px;
    text-align: start;
}

.descrip {
    width: 90%;
    padding-left: 15px;
    text-align: start;
}

.b-img {
    height: 100%;
    overflow: hidden;
}

.b-img img {
    width: 450px;
    height: 550px;
    object-fit: cover;
    margin-top: 0;


}

.top-stories {
    /* border: 1px solid saddlebrown; */
    height: 50vh;
    width: 100vw;
}

.text h2 {
    margin: 20px;
    color: rgb(146, 144, 144);
    font-size: 1.10pc;
}

.text h3 {
    margin: 20px;
    color: rgb(146, 144, 144);
    font-size: 1pc;
}

.text p {
    color: rgb(156, 152, 152);
    margin: 20px;
}