.slider {
    /* border: 1px solid firebrick; */
    background-color: white;
    height: 39vh;
    margin: 19px;
    background-image: url(https://rukminim2.flixcart.com/fk-p-flap/960/160/image/e46ef3bd9f063e00.jpeg?q=60);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    overflow: hidden;
    animation: slide 9s infinite;

}

@keyframes slide {
    30% {
        background-image: url(https://rukminim2.flixcart.com/fk-p-flap/960/160/image/e46ef3bd9f063e00.jpeg?q=60);
    }

    60% {
        background-image: url(https://rukminim2.flixcart.com/fk-p-flap/2020/340/image/8f8baa7aaf5911ad.jpeg?q=60);
    }

    90% {
        background-image: url(https://rukminim2.flixcart.com/fk-p-flap/2020/340/image/1558a721300c7f6d.jpg?q=60);
    }
}

.slider-button {
    margin-top: 5%;
    display: flex;
    justify-content: space-between;

}

.button {
    height: 100px;
    width: 4%;
    background-color: gainsboro;
    display: flex;
    justify-content: center;
    align-items: center;
}

.left-button {
    border-radius: 0px 10px 10px 0px;
    margin-left: 0;
}

.right-button {
    border-radius: 10px 0px 0px 10px;
    margin-left: 0;
}