*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: aqua;
}
h1{
    text-align: center;
}
.container{
    border: 2px solid black;
    display: flex;
    justify-content: space-around;
}
.box1{
    margin: 5px;
    border:2px solid black;
}
.box2{
    margin: 5px;
    border:2px solid black;
}
.box3{
    margin: 5px;
    border:2px solid black;
}
.box4{
    margin: 5px;
    border:2px solid black;
}
.box5{
    margin: 5px;
    border:2px solid black;
}
.aside{
    border: 2px solid black;
    margin: 5px;
    height: 50vh;
    width: 50vw;
    background-color: pink;
}