*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: white;
}
.header{
    border: 1px solid greenyellow;
    background-color: rgb(250, 250, 23);
    height: 10vh;
    margin-bottom: 15px;
    padding: 10px;
}

.container{
    /* border: 2px solid yellow; */
    height: 74.80vh;
    background-color: white;
    display: grid;
    grid-template-columns: 190px 830px 190px;
    grid-column-gap: 15px;
    
}
.item1{
    /* border: 2px solid green; */
    background-color: rgb(250, 250, 23);
    padding: 10px;

}
.item2{
    /* border: 2px solid green; */
    background-color: rgb(250, 250, 23);
    padding: 10px;
}
.item3{
    /* border: 2px solid green; */
    background-color: rgb(250, 250, 23);
    padding: 10px;

}
.footer{
    border: 1px solid greenyellow;
    background-color: rgb(250, 250, 23);
    height: 10vh;
    margin-top: 15px;
    padding: 10px;
    
}