*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background-color: lightcoral;
}
.header{
    border: 2px solid black;
    margin: 5px;
    padding: 10px;
    text-align: center;
    height: 10vh;
}
.nav{
    border: 2px solid black;
    margin: 5px;
    padding: 10px;
    text-align: center;
    height: 10vh;
}
.container{
    /* border: 2px solid black; */
     height: 65vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr ;
    grid-template-areas: "section section aside"
                         "article article aside"
}
.box1{
    border: 2px solid black;
    margin: 5px;
    padding:10px ;
    text-align: center;
    /* height: 30vh; */
    grid-area:section;
}
.box2{
    border: 2px solid black;
    margin: 5px;
    padding:20px ;
    text-align: center;
    grid-area:article ;
    }
.box3{
    border: 2px solid black;
    margin: 5px;
    padding:10px ;
    text-align: center;
    grid-area: aside;
}
.footer{
    border: 2px solid black;
    margin: 5px;
    padding: 10px;
    text-align: center;
    height: 10vh;
}
