*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    border: 1px solid black;
    background-color: white;
    margin: 5px;
    text-align: center;
}
.A{

background-color: white;
    margin: 13px;
}
.header{
    border: 1px solid black;
    background-color:#ff8c1a;
    height: 6vh;
    padding: 5px;
}
.nav{
    border: 1px solid black;
    background-color:black;
    height: 4vh;
    margin-top: 10px;
    margin-bottom: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}
.box1{
    border-right: 3px solid white;
}
.box2{
    border-right: 3px solid white;
}
.box3{
    border-right: 3px solid white;
}
.box4{
    border-right: 3px solid white;
}
.box5{
    border-right: 3px solid white;
}
.box6{
    border-right: 3px solid white;
}
.box7{
    border-right: 3px solid white;
}
.box8{
    border-right: 3px solid white;
}
.container{
    /* border: 2px solid green; */
    height: 72vh;
    margin-bottom:10px ;
    display: grid;
    grid-template-columns:  0.9fr 0.9fr 0.9fr;
    grid-template-rows:1fr  ;

}
.item1{
    background-color:#ff8c1a;
 }
 .item2{
    background-color:#ff8c1a ;
    display: grid;
    grid-template-rows:1fr 1fr;
}
.b1{
    background-color:#ff8c1a;
    border-bottom: 10px solid white;
    border-left: 10px solid white;
    border-right: 10px solid white;

}
.b2{
    background-color:#ff8c1a;
    border-bottom: 0px solid white;
    border-left: 10px solid white;
    border-right: 10px solid white;

}
.item3{
    background-color:white;
    display: grid;
    grid-template-rows: 0.8fr 0.8fr 0.8fr 0.8fr 0.8fr;
    grid-gap: 10px;
}
.subbox1{
    border: 1px solid black;
    background-color: black;
}
.subbox2{
    border: 1px solid black;
    background-color: black;
}
.subbox3{
    border: 1px solid black;
    background-color: black;
}
.subbox4{
    border: 1px solid black;
    background-color: black;
}
.subbox5{
    border: 1px solid black;
    background-color: black;
}
.footer{
    border: 1px solid black;
    background-color: #ff8c1a;
    height: 6vh;
    padding: 5px;
}