<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>layout</title>
    <link rel="stylesheet" href="../../../CSS/Layout/Grid-System/layout2.css">
</head>
<body>
    <div class="header">
        <h1><< Header>></h1>
    </div>

    <div class="nav">
        <h1><< Nav >></h1>
    </div>

<section class="container">
    <div class="box1"> <h1><< Section >></h1> </div>
    <div class="box2"> <h1><< Article >></h1> </div>
    <div class="box3"> <h1><< Aside >></h1> </div>

</section>

    <div class="footer">
        <h1><< Footer>></h1>
    </div>
</body>
</html>