<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Layout</title>
    <link rel="stylesheet" href="../../../CSS/Layout/Grid-System/layout3.css">
</head>
<body>
    <header class="header">Header</header>
    <div class="nav">
         <div class="box1">1</div>
         <div class="box2">1</div>
         <div class="box3">1</div>
         <div class="box4">1</div>
         <div class="box5">1</div>
         <div class="box6">1</div>
         <div class="box7">1</div>
         <div class="box8">1</div>
         <div class="box9">1</div>
         
    </div>
    <footer class="footer">Footer</footer>
</body>
</html>