<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Layout</title>
    <link rel="stylesheet" href="../../../CSS/Layout/Grid-System/layout3.css">
</head>
<body>
    <section class="A">
    <header class="header">Header</header>
    <div class="nav">
         <div class="box1"></div>
         <div class="box2"></div>
         <div class="box3"></div>
         <div class="box4"></div>
         <div class="box5"></div>
         <div class="box6"></div>
         <div class="box7"></div>
         <div class="box8"></div>
         <div class="box9"></div>
     </div>

     <section class="container">
         <div class="item1"></div>
         <div class="item2">
             <div class="b1"></div>
             <div class="b2"></div>
         </div>
        <div class="item3">
            <div class="subbox1">1</div>
            <div class="subbox2">1</div>
            <div class="subbox3">1</div>
            <div class="subbox4">1</div>
            <div class="subbox5">1</div>   
        </div>

     </section>
    <footer class="footer">Footer</footer>
    </section>
</body>
</html>