 * {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
 }

 body {
     height: 100vh;
     display: flex;
     justify-content: center;
     align-items: center;
     background: url(./img.jpg);
     background-repeat: no-repeat;
     background-size: cover;
     background-position: center;

 }

 @media (max-width: 600px) {
     body {
         background-repeat: no-repeat;
         background-size: cover;
         background-position: center;
     }
 }

 .box {
      border: 2px solid rgba(34, 34, 112, 0.907);
     margin: auto;
     padding: 30px;
     background-color: rgba(5, 5, 38, 0.907);
     color: white;
     border-radius: 10px;

 }

 .block1 {
     color: white;
     font-family: Arial, Helvetica, sans-serif;
     font-weight: bold;
     text-align: center;
     margin: 20px;
 }

 @media (max-width: 600px) {
     .block1 {
         margin: 10px;
     }
 }

 .labin {
     border: 1px solid rgba(18, 18, 105, 0.907);
     border-radius: 30px;
     display: block;
     margin-block: 20px;
     padding: 15px;
     font-size: 20px;
     font-family: Arial, Helvetica, sans-serif;
     width: auto;

 }

 @media (max-width: 600px) {
     .labin {
         margin-block: 10px;
         padding: 10px;
         font-size: 10px;
     }
 }

 input {
     display: inline;
     outline: none;
     background-color: transparent;
     border: none;
     margin-left: 20px;
     color: white;
     font-size: 20px;
     font-family: Arial, Helvetica, sans-serif;
 }

 @media (max-width: 600px) {
     input {

         font-size: 10px;
         margin-left: 10px;
     }
 }

 .block4 {
     /* border: 1px solid white; */
     display: flex;
     justify-content: space-between;
     font-size: 20px;
     font-family: Arial, Helvetica, sans-serif;
     margin: 10px;
 }

 @media (max-width: 600px) {
     .block4 {
         font-size: 10px;
     }
 }

 .block4 a {
     text-decoration: none;
     color: white;

 }

 .block5 {
     border: 1px solid rgba(18, 18, 105, 0.907);
     border-radius: 30px;
     padding: 15px;
     background-color: white;
     text-align: center;
 }

 .block5 a {
     text-decoration: none;
     color: rgb(10, 10, 87);
     font-size: 20px;
     font-family: Arial, Helvetica, sans-serif;
     font-weight: bold;
 }

 @media (max-width: 600px) {
     .block5 {
         padding: 5px;
     }

     .block5 a {
         font-size: 10px;
     }
 }

 .block6 {
     margin: 20px;
     font-family: Arial, Helvetica, sans-serif;
     text-align: center;
 }

 .block6 a {
     text-decoration: none;
     color: green;
     font-family: Arial, Helvetica, sans-serif;
     font-weight: bolder;

 }

 @media (max-width: 600px) {
     .block6 {
         font-size: 10px;
     }

     .block6 a {
         font-size: 11px;
     }
 }