* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  border: 1px solid hsl(338, 76%, 74%);
  border-radius: 10px;
  width: 50%;
  height: auto;
  margin: auto;
  display: flex;
  margin-top: 10%;
}

.box {
  position: relative;
  border: 1px solid #EF88AD;
  background-color: #EF88AD;
  border-radius: 10px;
  color: white;
  width: 50%;
  overflow: hidden;

}

.form h1 {
  text-align: center;
  color: #670D2F;
}

.form .inputfield {
  margin: 10px;
  font-size: 15px;
  color: black;
  font-family: Arial, Helvetica, sans-serif;
}

.form label{
  font-weight: bold;
}

.form input {
  font-size: 20px;
  outline: none;
  border: 1px solid #670D2F;
  border-radius: 30px;
  padding: 5px;
  cursor: pointer;
  
}

.submit input {
  margin: 10px;
  margin-top: 20px;
  background-color: #670D2F;
  color: white;
  width: 40%;
  transition: all 0.5s;
}
.submit input:hover{
  background-color: wheat;
  font-weight: bold;
  color: #670D2F;
}

.UP input {
  margin-top: 5px;
}

.overlay {
  position: absolute;
  background-color: #670D2F;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: all 2s;

}

.box:hover .overlay {
  top: -100%;
}

.overlayHeading {
  text-align: center;
  margin-top: 40%;
}

