*{
    box-sizing: border-box; 
   margin:0;  
   padding:0;
 }
 .container{
     border: 2px solid black;
     width: 80%;
     margin: auto;
 }
 .A{
     background-color: pink;
     text-align: center;
 }
 .box1{
       border: 3px solid purple;
       width: 40%;
       float:left;
 }
 .box2
 {
      border: greenyellow;
      width: 40;
 }