*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.header{
    border: 1px solid deeppink;
    background-color: deeppink;
    display: flex;
    justify-content: space-between;
    width: 100vw;
}
.upHeader{
   padding: 5px;
   text-align: end;
   width: 65vw;
    
}
span{
    color: yellow;
}
.icon{
    width: 20vw;
    /* border: 1px solid black; */
    margin-top:5px ;
    display: flex;
    justify-content: space-evenly;
}
.cart{
    font-size: 25px;
}
.btHeader{
    height: 10vh;
    /* border: 1px solid black; */
}
.menu{
    display: flex;
    justify-content: space-evenly;
    text-align: center;

}
li{
    list-style-type: none;
    font-size: 20px;
    margin-top: 20px;
}
.menu a {
    text-decoration: none;
    color: black;
    padding: 10px ;
    transition: all 0.5s;
}

.menu a:hover {
    background: deeppink;
    color: white;
    border-radius: 5px;
}
